<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/customer.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Customer</title>
  </head>
  <body>
    <div id="app">
      <a href="/">Home</a>
      <span class="welcome">Welcome to</span>
      <h1 class="line-cafe">LINE cafe</h1>
      <div class="section-title section-coffee">
        <span>Coffee</span>
      </div>
      <div v-if="productLoading">
        LOADING...
      </div>
      <div class="grid">
        <div
          v-for="product in products"
          class="product-image-wrapper"
        >
          <img
            :src="product.image"
            @click="onPlaceOrder(product._id)"
            class="product-image"
          />
          <div class="text-overlay">
            <div class="product-name">{{product.name}}</div>
            <div class="label-select">Select &gt;</div>
          </div>
        </div>
      </div>
      <div v-show="globalMessage" class="global-message">
        {{globalMessage}}
      </div>
    </div>
    <script src="/customer.js"></script>
  </body>
</html>
